.img1{
    width: 120px;
    height: 120px;
}

.img2{
    width: 200px;
    height: 200px;
}

.user-box{
    transition: 0.3s;
    
}
.user-box:hover{
    border-bottom: 2px solid rgb(91, 91, 91);
}

/* ================================== User profile */

.card{
    height: 400px;
    background-color: white;
    border-radius: 0;
    margin-top: 2px;
}
.editbtn{
    margin-top: 80px;
    margin: 5px 0 0 -5px;
}

.edbtn:hover{
    background-color: black;
    font-weight: 600;
}

.edbtn{
    margin-left: 50px;
    width: 120px;
    background-color: rgb(30, 30, 30);
}

.info{
    /* margin-left: -25px; */
    border-radius: 0;
}

h2{
    margin-top: 25px;
	text-align: center;
    color: rgb(30, 30, 30);
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
