<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add-project-repo"
    aria-expanded="false" aria-controls="collapseExample">
    Add More Info
</button>

<div class="modal fade" id="add-project-repo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Project repo Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'projects:add-repo' project.id %}">
                    {% csrf_token %}
                    {% for field in repository_from %}
                    {{field.field.input_type}}
                    <div class="col">
                        {% if field.field.widget.input_type == "select" %}
                        <div class="form-group focused">
                            <label class="form-control-label" for="{{ field.id_for_label }}">
                                {{ field.label }}</label>
                            <select type={{field.widget.input_type}} id="{{ field.id_for_label }}"
                                name="{{field.html_name}}" class="form-control form-control-alternative"
                                placeholder="Username" value=" {{object.username}}">
                                {% for choice in field.field.choices %}
                                <option value="{{choice.0}}">
                                    {{choice.1}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% else %}
                        <div class="form-group focused">
                            <label class="form-control-label" for="{{ field.id_for_label }}">
                                {{ field.label}}</label>
                            <input type={{field.field.widget.input_type}} id="{{ field.id_for_label }}"
                                name="{{field.html_name}}" class="form-control form-control-alternative"
                                placeholder="Username" value=" {{object.username}}">
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>